body{
    text-align: center;
    background-image: linear-gradient(rgb(21, 148, 87),rgb(24, 5, 84));
    margin: 0px;
    color: white;
}
.container{
    width:80%;
    
    margin: auto;
}
.form-container{
    width:90%;
 
    margin: auto;
}
form input {
    height : 40px;
    width:90%;
    margin: 10px;
    padding: 5px;
    background-color: rgb(238, 225, 225);
    font-size: 0.9em;
    box-sizing: border-box;
    border: none;
    display: block;
}
button{
    padding: 10px;
    background-color: blue;
    margin-top:5px ;
    font-size: 1.1em;
    font-weight: 400;
    border-radius: 4px;
    color: white;
    box-shadow: 0px 0px 10px rgb(126, 207, 105);
    border:1px solid lightgrey;
}
button:hover {
    color: black;
    background-image: linear-gradient(white,purple);
}
input:focus{
    outline: none;
}
table{
    margin: auto;
    margin-left:6.5%;
    margin-top: 10px;
    width: 80%;
    padding: 20px;
   font-style: italic;
   background-image: linear-gradient(white 20%,rgb(215, 206, 206));

}
th{
    font: 600;
    font-size: 1.2em;
    color: black;
}

td{
    margin: 10px;
    text-align: center;
    color:black;
    font-size: 1.2em;
    border: 1px solid black;
}
td i{
    color: rgb(130, 30, 152);
}
button i{
    margin-right:10px;
    margin-top: 1px;
    font-size: 1.1em !important;
}